@charset "UTF-8";
.home {
  padding: 40px 0;
}

.home-item {
  margin: 0 0 8px;
  max-width: 384px;
  width: 100%;
  border: 1px solid #EAECF0;
  border-radius: 8px;
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.home-item__icon {
  margin: 0 24px 0 0;
  width: 32px;
  height: 32px;
  min-width: 32px;
}
.home-item:nth-child(even) {
  background: #F8F9FA;
}
.home-item:last-child {
  margin: 0;
}

.advantages {
  background: #F8F9FA;
  padding: 24px 0 0;
}

.advantages-item {
  width: 100%;
  padding: 12px;
  border-left: 1px solid #EAECF0;
}
.advantages-item h3, .advantages-item .h3 {
  color: #0000CD;
}

.contract-preview {
  width: 100%;
  background: #fff;
  border-radius: 16px;
  border: 1px solid #EAECF0;
  padding: 24px;
}
.contract-preview__navigation {
  margin: 64px 0 0;
  width: 100%;
}
.contract-preview .completed-line {
  margin: 0 0 8px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 0 24px;
  font-size: 14px;
  line-height: 150%;
}
.contract-preview .completed-line p span {
  margin-left: 5px;
}
.contract-preview .completed-line__wrapper {
  height: 8px;
  width: 100%;
  position: relative;
  z-index: 1;
  margin: 0 0 8px;
  background: #DFE2E8;
  border-radius: 10px;
}
.contract-preview .completed-line__progress {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background: #0000CD;
  border-radius: 10px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.contract-preview-text {
  margin: 64px 0;
  font-size: 14px;
  line-height: 150%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.contract-preview-text::before {
  content: "пример";
  text-transform: uppercase;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
  font-size: 120px;
  line-height: 150%;
  font-weight: 900;
  color: rgba(227, 59, 50, 0.5);
  background: rgba(255, 255, 255, 0.001);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contract-preview-text:after {
  content: "пример";
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  font-size: 120px;
  line-height: 150%;
  font-weight: 900;
  color: rgba(227, 59, 50, 0.5);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contract-preview-text p {
  margin: 0 0 5px;
}
.contract-preview-text p:last-child {
  margin: 0;
}

.accordion {
  counter-reset: acc;
}

.accordion-item {
  margin: 0 0 8px;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #EAECF0;
  counter-increment: acc;
}
.accordion-item:last-child {
  margin: 0;
}
.accordion-item.checked {
  border: 1px solid #27B973;
}
.accordion-item.no-checked {
  border: 1px solid #DB3A33;
}

.accordion-button {
  width: 100%;
  padding: 16px 24px 16px 50px;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-transform: uppercase;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #252525;
  position: relative;
  z-index: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.accordion-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.accordion-button::before {
  content: counter(acc, decimal-leading-zero);
  position: absolute;
  left: 24px;
  top: 16px;
  text-transform: uppercase;
  color: #252525;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
}
.accordion-button:after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: 24px;
  width: 32px;
  height: 32px;
  background: url("../img/plus.svg") no-repeat center;
  background-size: 100%;
  margin: 0 0 0 auto;
}

.accordion-button__title {
  width: 100%;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
}

.accordion-button__subtitle {
  font-size: 12px;
  margin: 4px 0 0;
  display: block;
  color: #68727D;
  text-transform: none;
}

.accordion-item:first-of-type .accordion-button {
  border-radius: 8px;
}

.accordion-button:not(.collapsed) {
  background: transparent;
  color: #0000CD;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.accordion-button:not(.collapsed) .accordion-button__subtitle {
  color: #68727D;
}
.accordion-button:not(.collapsed)::after {
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: url("../img/minus.svg") no-repeat center;
  background-size: 100%;
}
.accordion-button:not(.collapsed)::before {
  color: #0000CD;
}

.accordion-body {
  margin: 8px 0 0;
  padding: 0 24px 24px;
}
.accordion-body__wrapper {
  margin: 0 0 16px;
  padding: 0 0 24px;
  border-bottom: 1px solid #EAECF0;
}
.accordion-body__wrapper:last-child {
  margin: 0;
  padding: 0;
  border: none;
}

.tooltip-wrapper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 0 0 4px;
  position: relative;
}
.tooltip-wrapper:hover {
  z-index: 10;
}
.tooltip-wrapper:hover .tooltip-box {
  z-index: 10;
  display: block;
}

.btn-tooltip {
  width: 16px;
  height: 16px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tooltip-box {
  position: absolute;
  z-index: 5;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  top: 0;
  min-width: 234px;
  max-width: 234px;
  background: #F8F9FA;
  border: 1px solid #EAECF0;
  border-radius: 8px;
  padding: 8px;
  font-size: 10px;
  line-height: 150%;
  font-weight: normal;
  -webkit-box-shadow: 0px 2px 4px -2px rgba(16, 24, 40, 0.1);
          box-shadow: 0px 2px 4px -2px rgba(16, 24, 40, 0.1);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  display: none;
}

.btn-add-step {
  display: none;
}

.steps-wrapper {
  margin-top: 16px;
}

.slider-range-wrapper {
  position: relative;
  padding-top: 58px;
  width: 100%;
  margin: 0 0 8px;
}
.slider-range-wrapper .slider-range {
  height: 8px;
  border-radius: 16px;
  background: #F7F7F9;
  border: none;
}
.slider-range-wrapper .slider-range .ui-slider-range {
  background: #0000CD;
  border-radius: 16px;
}
.slider-range-wrapper .slider-range .ui-slider-handle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #1200ff;
  border: 5px solid #fff;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(19, 56, 77, 0.2);
          box-shadow: 0px 0px 20px 0px rgba(19, 56, 77, 0.2);
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  outline: none;
}
.slider-range-wrapper .slider-range .ui-slider-handle:focus {
  outline: none;
}

/* bubble value */
.slider-value {
  position: absolute;
  margin: 0 0 17px;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  min-width: 63px;
  height: 48px;
  background: url("../img/decor-slider-range.svg") no-repeat center top;
  background-size: 100%;
  border-radius: 8px;
  padding-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
  color: #252525;
}

.slider-range-wrapper.dragging .slider-value {
  -webkit-transition: none;
  transition: none;
}

.stages-work {
  padding: 64px 0 56px;
}

.stage-work-box {
  width: 100%;
  padding: 40px 15px 15px 15px;
  border: 1px solid #EAECF0;
  border-radius: 8px;
}
.stage-work-box__number {
  margin: 0 0 20px;
  width: 48px;
  height: 48px;
  min-width: 48px;
  border-radius: 50%;
  background: #F8F9FA;
  font-size: 20px;
  font-weight: bold;
  line-height: 120%;
  color: #0000CD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.error-page {
  padding: 0 0 96px;
}

.error-page__icon {
  margin: 0 auto 40px;
  width: 56px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-payment {
  max-width: 533px;
  width: 100%;
  margin: 0 auto;
}
.form-payment .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.form-payment .form-group label {
  margin: 0 8px 0 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 255px;
}

.payment-rules, .service-details {
  padding: 40px 0 96px;
}

.requisites-list {
  width: 100%;
  font-size: 14px;
  line-height: 150%;
}
.requisites-list li {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 16px 16px 22px;
}
.requisites-list li:nth-child(odd) {
  background: #F8F9FA;
}
.requisites-list p {
  font-weight: 600;
  min-width: 200px;
}

.consent {
  width: 100%;
  margin: 16px 0 0;
}

.form-contacts label {
  margin: 0 0 16px;
}
.form-contacts label:last-child {
  margin: 0;
}

.contacts-requisites {
  padding: 96px 0 80px;
}

.contacts-requisites-card {
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-box-shadow: 0px 4px 6px -4px rgba(16, 24, 40, 0.1);
          box-shadow: 0px 4px 6px -4px rgba(16, 24, 40, 0.1);
  border: 1px solid #EAECF0;
  border-radius: 16px;
  padding: 24px;
}
.contacts-requisites-card .header-contacts {
  margin: 40px 0 0;
  color: #2C4068;
}

.attention-information {
  width: 100%;
  position: relative;
  z-index: 1;
  background: #FDF6EA;
  border-radius: 16px;
  border: 1px solid #F9DAAC;
  padding: 16px 16px 16px 56px;
}
.attention-information::before {
  content: "";
  position: absolute;
  top: 19px;
  left: 16px;
  width: 24px;
  height: 24px;
  background: url("../img/attention-icon.svg") no-repeat center;
  background-size: 100%;
}
.attention-information p {
  margin: 0 0 8px;
}
.attention-information p:last-child {
  margin: 0;
}
.attention-information .text-small {
  font-size: 13px;
  line-height: 150%;
  color: #68727D;
}

.prices-box {
  width: 100%;
  background: #fff;
  border: 1px solid #EAECF0;
  border-radius: 16px;
  padding: 24px;
  -webkit-box-shadow: 0px 10px 15px -3px rgba(16, 24, 40, 0.1019607843);
          box-shadow: 0px 10px 15px -3px rgba(16, 24, 40, 0.1019607843);
}
.prices-box__head {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  padding: 24px;
  background: #0000CD;
  font-weight: bold;
  border-radius: 16px 16px 0 0;
}
.prices-box__body {
  width: 100%;
  padding: 24px;
}
.prices-box .h6 {
  margin: 0 0 24px;
  font-weight: 600;
}
.prices-box ul {
  font-size: 14px;
  line-height: 150%;
  margin: 0 0 40px;
}
.prices-box ul:last-child {
  margin: 0;
}
.prices-box ul.mb-16 {
  margin-bottom: 16px;
}

.prices-box-max {
  padding: 0;
}

.price-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  line-height: 110%;
  position: relative;
  z-index: 1;
  padding: 0 80px;
  margin: 0 0 4px;
}

.new-price {
  font-size: 52px;
  color: #0000CD;
  line-height: 120%;
}

.old-price {
  font-size: 28px;
  color: #979AA0;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: line-through;
}

.list-compare {
  width: 100%;
  font-size: 14px;
  line-height: 150%;
}
.list-compare li {
  border-bottom: 1px solid #EAECF0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  text-align: center;
}
.list-compare li p, .list-compare li span {
  width: 50%;
  padding: 8px;
}
.list-compare p {
  color: #E33B32;
}
.list-compare span {
  color: #27B973;
}

.list-decor li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 0 16px;
}
.list-decor li:last-child {
  margin: 0;
}
.list-decor__icon {
  margin: 0 8px 0 0;
  width: 28px;
  height: 28px;
  min-width: 28px;
  border-radius: 50%;
  padding: 4px;
  background: #FFEFEE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.list-decor__icon.icon-check {
  background: #E9F8F1;
}

.list-bank {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.list-bank li {
  margin: 16px 0 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.prices-section {
  padding: 96px 0 80px;
}

.how-work {
  padding: 96px 0;
  background: #F8F9FA;
}

.how-work-box {
  width: 100%;
  height: 100%;
  padding: 24px;
  background: #fff;
  border: 1px solid #EAECF0;
  border-radius: 8px;
  text-align: center;
}
.how-work-box__icon {
  margin: 0 auto 16px;
  width: 56px;
  height: 56px;
  min-width: 56px;
  border-radius: 8px;
  background: #F7F7F9;
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.how-work-box .box-text {
  color: #68727D;
}

.reviews-box {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background: #fff;
  padding: 24px;
  font-size: 14px;
  line-height: 150%;
  color: #68727D;
  -webkit-box-shadow: 0px 10px 15px -3px rgba(16, 24, 40, 0.1019607843);
          box-shadow: 0px 10px 15px -3px rgba(16, 24, 40, 0.1019607843);
}
.reviews-box__date {
  margin: 24px 0 8px;
}
.reviews-box__name {
  font-style: italic;
  margin: 0 0 4px;
}
.reviews-box .box-text {
  font-style: italic;
  font-size: 16px;
}

.list-star {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.list-star li {
  margin: 0 1px 0 0;
}
.list-star li:last-child {
  margin: 0;
}