@font-face {
  font-family: "PlayfairDisplay";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Medium.eot");
  src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/PlayfairDisplay/PlayfairDisplay-Medium.woff") format("woff"), url("../fonts/PlayfairDisplay/PlayfairDisplay-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Inter/Inter-Regular.eot");
  src: url("../fonts/Inter/Inter-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter/Inter-Regular.woff") format("woff"), url("../fonts/Inter/Inter-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Inter/Inter-Medium.eot");
  src: url("../fonts/Inter/Inter-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter/Inter-Medium.woff") format("woff"), url("../fonts/Inter/Inter-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Inter/Inter-SemiBold.eot");
  src: url("../fonts/Inter/Inter-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter/Inter-SemiBold.woff") format("woff"), url("../fonts/Inter/Inter-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Inter/Inter-Bold.eot");
  src: url("../fonts/Inter/Inter-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter/Inter-Bold.woff") format("woff"), url("../fonts/Inter/Inter-Bold.ttf") format("truetype");
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Inter", sans-serif;
  font-weight: normal;
  background: #fff;
  color: #252525;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

a {
  display: block;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  outline: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
a:hover, a:focus {
  text-decoration: none;
}

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter", sans-serif;
  border: 1px solid #EAECF0;
  border-radius: 8px;
  width: 100%;
  height: 56px;
  background: #F8F9FA;
  color: #68727D;
  font-size: 16px;
  line-height: 150%;
  font-weight: normal;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
  color: #68727D;
}
input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
  color: #68727D;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder, select:-ms-input-placeholder {
  color: #68727D;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
  color: #68727D;
}
input::placeholder, textarea::placeholder, select::placeholder {
  color: #68727D;
}
input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #000080;
  -webkit-box-shadow: 0px 0px 0px 3px #B2D5FF;
          box-shadow: 0px 0px 0px 3px #B2D5FF;
}

input[type=radio], input[type=checkbox] {
  width: auto;
  height: auto;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  margin: 0 5px 0 0;
  display: inline;
}

label {
  display: block;
  width: 100%;
  margin: 0 0 8px;
}
label:last-child {
  margin: 0;
}

.error-label input {
  -webkit-box-shadow: 0px 0px 0px 3px #FDDDDC;
          box-shadow: 0px 0px 0px 3px #FDDDDC;
  border: 1px solid #E33B32;
}
.error-label .error-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.error-text {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 12px 0 0;
  background: #FFEFEE;
  padding: 6px 4px;
  width: 100%;
  color: #E33B32;
  font-size: 13px;
  line-height: 150%;
  font-weight: normal;
  border-radius: 8px;
}
.error-text img {
  width: 16px;
  min-width: 16px;
  height: 16px;
  margin: 0 4px 0 0;
}

.label-title {
  width: 100%;
  margin: 0 0 8px;
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
}
.label-title:last-child {
  margin: 0;
}

textarea {
  resize: none;
  padding: 12px 17px;
  height: 103px;
}

.form {
  width: 100%;
}

button, .btn {
  outline: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: 0;
}
button:hover, button:focus, .btn:hover, .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 10px 40px;
  font-size: 16px;
  font-weight: 500;
  height: 56px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
          box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.btn-accent {
  border-color: #0000CD;
  background: #0000CD;
  color: #fff;
}
.btn-accent .btn-icon {
  stroke: #fff;
}
.btn-accent .btn-icon.stroke-none {
  fill: #fff;
  stroke: none;
}
.btn-accent:hover {
  background: #000080;
  color: #fff;
  border-color: #000080;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
          box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
}
.btn-accent:hover .btn-icon {
  stroke: #fff;
}
.btn-accent:hover .btn-icon.stroke-none {
  fill: #fff;
  stroke: none;
}
.btn-accent:focus, .btn-accent:active {
  background: #fff;
  color: #000080;
  border-color: #000080;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
          box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
}
.btn-accent:focus .btn-icon, .btn-accent:active .btn-icon {
  stroke: #000080;
}
.btn-accent:focus .btn-icon.stroke-none, .btn-accent:active .btn-icon.stroke-none {
  stroke: none;
  fill: #000080;
}
.btn-accent.disabled {
  background: #DFE2E8;
  border-color: #DFE2E8;
  color: #979AA0;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
          box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
}
.btn-accent.disabled .btn-icon {
  stroke: #979AA0;
}
.btn-accent.disabled .btn-icon.stroke-none {
  fill: #979AA0;
  stroke: none;
}

.btn-light-blue {
  -webkit-box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
          box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
  background: #E2EFFF;
  color: #000080;
}
.btn-light-blue .btn-icon {
  stroke: #000080;
}
.btn-light-blue .btn-icon.stroke-none {
  fill: #000080;
  stroke: none;
}
.btn-light-blue:hover {
  background: #C9E4FF;
  color: #000080;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
          box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
}
.btn-light-blue:hover .btn-icon {
  stroke: #000080;
}
.btn-light-blue:hover .btn-icon.stroke-none {
  fill: #000080;
  stroke: none;
}
.btn-light-blue:focus, .btn-light-blue:active {
  background: #C9E4FF;
  color: #000080;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
          box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
}
.btn-light-blue:focus .btn-icon, .btn-light-blue:active .btn-icon {
  stroke: #000080;
}
.btn-light-blue:focus .btn-icon.stroke-none, .btn-light-blue:active .btn-icon.stroke-none {
  fill: #000080;
  stroke: none;
}
.btn-light-blue.disabled {
  background: #DFE2E8;
  color: #979AA0;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
          box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
}
.btn-light-blue.disabled .btn-icon {
  stroke: #979AA0;
}
.btn-light-blue.disabled .btn-icon.stroke-none {
  fill: #979AA0;
  stroke: none;
}

.btn-icon {
  fill: none;
  width: 24px;
  min-width: 24px;
  height: 24px;
  margin: 0 0 0 8px;
}
.btn-icon.stroke-none {
  stroke: none;
}

.btn-group .btn {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  border-radius: 8px;
  margin: 0 8px 0 0;
}
.btn-group .btn:last-child {
  margin: 0;
  border-radius: 8px;
}
.btn-group .btn:first-child {
  border-radius: 8px;
}

.btn-group > .btn-group:not(:last-child) > .btn, .btn-group > .btn.dropdown-toggle-split:first-child, .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
  border-radius: 8px;
}

strong, b {
  font-weight: bold;
  display: inline-block;
}

ul, ol {
  padding: 0 0 0 20px;
}

.my-ul {
  list-style: none;
  padding: 0;
}

.list-dots {
  list-style-type: disc;
}

.container {
  max-width: 1248px;
  padding: 0 24px;
}

.row {
  margin: 0 -12px;
}
.row > * {
  padding: 0 12px;
}

.p-64 {
  padding: 64px 0;
}

.p-40 {
  padding: 40px 0;
}

.m-24 {
  margin: 24px 0;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-8 {
  margin-bottom: 8px;
}

.bg-white {
  background: #fff;
}

.bg-light-grey {
  background: #F8F9FA;
}

.color-blue-grey {
  color: #2C4068;
}

.color-accent {
  color: #0000CD;
}

.color-grey {
  color: #68727D;
}

.font-title {
  font-family: "PlayfairDisplay", sans-serif;
}

.font-italic {
  font-style: italic;
}

.font-500 {
  font-weight: 500;
}

.d-inline-block {
  display: inline-block;
}

h1, .h1 {
  width: 100%;
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  margin: 0 0 16px;
}
h1 span, .h1 span {
  font-size: 44px;
}

h2, .h2 {
  width: 100%;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  margin: 0 0 64px;
}

h3, .h3 {
  width: 100%;
  font-size: 28px;
  font-weight: 700;
  line-height: 120%;
  margin: 0 0 4px;
}

h5, .h5 {
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
  margin: 0 0 12px;
}

h6, .h6 {
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
  margin: 0 0 8px;
}

.subtitle {
  width: 100%;
  font-size: 20px;
  line-height: 120%;
  margin: 0 auto;
}

.subtitle-decor {
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  color: #0000CD;
  padding: 8px;
  background: #F1F2F5;
  border-radius: 8px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.box-text {
  font-size: 16px;
  line-height: 150%;
}

.text-small {
  font-size: 14px;
  line-height: 120%;
}

.text-lgsmall {
  font-size: 18px;
  line-height: 150%;
}

.text-xlsmall {
  font-size: 20px;
  line-height: 120%;
}

.nav-breadcrumb {
  padding: 10px 0;
  width: 100%;
}

.breadcrumb {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 14px;
  line-height: 150%;
  color: #000080;
}
.breadcrumb li {
  padding: 0;
}
.breadcrumb li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #68727D;
}
.breadcrumb li a:after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 16px;
  background: url("../img/arrow-right.svg") no-repeat center;
  background-size: 100%;
  margin: 0 4px;
}
.breadcrumb li svg {
  width: 16px;
  height: 16px;
  min-width: 16px;
  fill: none;
  stroke: #68727D;
}

.breadcrumb-item.active {
  color: #000080;
}

.breadcrumb-item + .breadcrumb-item {
  padding: 0;
}

.breadcrumb-item + .breadcrumb-item::before {
  display: none;
}

.slick-slider {
  width: 100%;
}

.slick-slide {
  outline: none;
}

.label-checkbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  margin: 15px 0 0;
  line-height: 1.14;
}

.inp-check {
  display: none;
}

.checkbox-custom {
  margin: 0 12px 0 0;
  position: relative;
  border-radius: 6px;
  background-color: #fff;
  width: 16px;
  height: 16px;
  min-width: 16px;
  cursor: pointer;
}

.inp-check:checked ~ .checkbox-custom {
  background: #fff url("../img/check-black.svg") no-repeat center;
  background-size: 8px;
}