$default-font: 'Inter', sans-serif
$title-font: 'PlayfairDisplay', sans-serif

$accent: #0000CD
$blue: #000080
$blue-grey: #2C4068

@mixin d-flex()
  display: flex
  align-items: center
  justify-content: center
