@import "vars"

.home
    padding: 40px 0

.home-item
    margin: 0 0 8px
    max-width: 384px
    width: 100%
    border: 1px solid #EAECF0
    border-radius: 8px
    padding: 12px
    display: flex
    align-items: flex-start
    &__icon
        margin: 0 24px 0 0
        width: 32px
        height: 32px
        min-width: 32px
    &:nth-child(even)
        background: #F8F9FA
    &:last-child
        margin: 0

.advantages
    background: #F8F9FA
    padding: 24px 0 0

.advantages-item
    width: 100%
    padding: 12px
    border-left: 1px solid #EAECF0
    h3
        color: $accent


// stages-work
.stages-work
    padding: 64px 0 56px    

.stage-work-box
    width: 100%
    padding: 40px 15px 15px 15px
    border: 1px solid #EAECF0
    border-radius: 8px
    &__number
        margin: 0 0 20px
        width: 48px
        height: 48px
        min-width: 48px
        border-radius: 50%
        background: #F8F9FA
        font-size: 20px
        font-weight: bold
        line-height: 120%
        color: $accent
        @include d-flex


// error page
.error-page
    padding: 0 0 96px

.error-page__icon
    margin: 0 auto 40px
    width: 56px
    height: 56px
    @include d-flex    


.form-payment
    max-width: 533px
    width: 100%
    margin: 0 auto
    .form-group
        display: flex
        align-items: flex-start 
        flex-wrap: wrap
        label
            margin: 0 8px 0 0
            flex: 1
            max-width: 255px   


.payment-rules, .service-details
    padding: 40px 0 96px


.requisites-list
    width: 100%
    font-size: 14px
    line-height: 150%

    li
        width: 100%
        display: flex
        align-items: flex-start
        padding: 16px 16px 22px
        &:nth-child(odd)
            background: #F8F9FA
    p
        font-weight: 600
        min-width: 200px
    
