@import "vars"

.home
    padding: 40px 0

.home-item
    margin: 0 0 8px
    max-width: 384px
    width: 100%
    border: 1px solid #EAECF0
    border-radius: 8px
    padding: 12px
    display: flex
    align-items: flex-start
    &__icon
        margin: 0 24px 0 0
        width: 32px
        height: 32px
        min-width: 32px
    &:nth-child(even)
        background: #F8F9FA
    &:last-child
        margin: 0

.advantages
    background: #F8F9FA
    padding: 24px 0 0

.advantages-item
    width: 100%
    padding: 12px
    border-left: 1px solid #EAECF0
    h3
        color: $accent

// stages-work
.stages-work
    padding: 64px 0 56px

.stage-work-box
    width: 100%
    padding: 40px 15px 15px 15px
    border: 1px solid #EAECF0
    border-radius: 8px
    &__number
        margin: 0 0 20px
        width: 48px
        height: 48px
        min-width: 48px
        border-radius: 50%
        background: #F8F9FA
        font-size: 20px
        font-weight: bold
        line-height: 120%
        color: $accent
        @include d-flex

// error page
.error-page
    padding: 0 0 96px

.error-page__icon
    margin: 0 auto 40px
    width: 56px
    height: 56px
    @include d-flex

.form-payment
    max-width: 533px
    width: 100%
    margin: 0 auto
    .form-group
        display: flex
        align-items: flex-start
        flex-wrap: wrap
        label
            margin: 0 8px 0 0
            flex: 1
            max-width: 255px

.payment-rules, .service-details
    padding: 40px 0 96px

.requisites-list
    width: 100%
    font-size: 14px
    line-height: 150%

    li
        width: 100%
        display: flex
        align-items: flex-start
        padding: 16px 16px 22px
        &:nth-child(odd)
            background: #F8F9FA
    p
        font-weight: 600
        min-width: 200px

// contacts page
.consent
    width: 100%
    margin: 16px 0 0

.form-contacts
    label
        margin: 0 0 16px
        &:last-child
            margin: 0

.contacts-requisites
    padding: 96px 0 80px

.contacts-requisites-card
    width: 100%
    height: 100%
    background: #fff
    box-shadow: 0px 4px 6px -4px rgba(#101828, .1)
    border: 1px solid #EAECF0
    border-radius: 16px
    padding: 24px
    .header-contacts
        margin: 40px 0 0
        color: #2C4068

.attention-information
    width: 100%
    position: relative
    z-index: 1
    background: #FDF6EA
    border-radius: 16px
    border: 1px solid #F9DAAC
    padding: 16px 16px 16px 56px
    &::before
        content: ''
        position: absolute
        top: 19px
        left: 16px
        width: 24px
        height: 24px
        background: url('../img/attention-icon.svg') no-repeat center
        background-size: 100%

    p
        margin: 0 0 8px
        &:last-child
            margin: 0
    .text-small
        font-size: 13px
        line-height: 150%
        color: #68727D

.prices-box
    width: 100%
    background: #fff
    border: 1px solid #EAECF0
    border-radius: 16px
    padding: 24px
    box-shadow: 0px 10px 15px -3px #1018281A
    &__head
        width: 100%
        text-align: center
        text-transform: uppercase
        color: #fff
        padding: 24px
        background: $accent
        font-weight: bold
        border-radius: 16px 16px 0 0
    &__body
        width: 100%
        padding: 24px
    .h6
        margin: 0 0 24px
        font-weight: 600
    ul
        font-size: 14px
        line-height: 150%
        margin: 0 0 40px
        &:last-child
            margin: 0
        &.mb-16
            margin-bottom: 16px

.prices-box-max
    padding: 0

.price-wrapper
    display: flex
    align-items: flex-start
    justify-content: center
    font-weight: 500
    line-height: 110%
    position: relative
    z-index: 1
    padding: 0 80px
    margin: 0 0 4px

.new-price
    font-size: 52px
    color: $accent
    line-height: 120%

.old-price
    font-size: 28px
    color: #979AA0
    position: absolute
    right: 0
    top: 0
    text-decoration: line-through


.list-compare
    width: 100%
    font-size: 14px
    line-height: 150%
    li
        border-bottom: 1px solid #EAECF0
        width: 100%
        display: flex
        align-items: stretch
        text-align: center
        p, span
            width: 50%
            padding: 8px
    p
        color: #E33B32
    span
        color: #27B973

.list-decor
    li
        display: flex
        align-items: flex-start
        margin: 0 0 16px
        &:last-child
            margin: 0        
    &__icon
        margin: 0 8px 0 0
        width: 28px
        height: 28px
        min-width: 28px
        border-radius: 50%
        padding: 4px
        background: #FFEFEE
        @include d-flex
        &.icon-check
            background: #E9F8F1


.list-bank 
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    li
        margin: 16px 0 0
        flex: 1
        @include d-flex

        
.prices-section
    padding: 96px 0 80px

.how-work
    padding: 96px 0
    background: #F8F9FA


.how-work-box
    width: 100%
    height: 100%
    padding: 24px
    background: #fff
    border: 1px solid #EAECF0
    border-radius: 8px
    text-align: center
    &__icon
        margin: 0 auto 16px
        width: 56px
        height: 56px
        min-width: 56px
        border-radius: 8px
        background: #F7F7F9
        padding: 12px
        @include d-flex
    .box-text
        color: #68727D

.reviews-box
    width: 100%
    height: 100%
    border-radius: 16px
    background: #fff
    padding: 24px
    font-size: 14px
    line-height: 150%
    color: #68727D
    box-shadow: 0px 10px 15px -3px #1018281A


    &__date
        margin: 24px 0 8px
    &__name
        font-style: italic
        margin: 0 0 4px
    .box-text
        font-style: italic
        font-size: 16px

.list-star
    width: 100%
    display: flex
    align-items: flex-start
    li
        margin: 0 1px 0 0
        &:last-child
            margin: 0
